<div class="sidebar__block">
    <h4>
        Ближайшие населенные пункты
    </h4>
    <ul class="sidebar__list-group">
        <a class="sidebar__list-group-item" href="https://yandex.ru/maps/-/CZVbaC~Y" target="_blank">г.Оболенск (4 км)</a>
        <a class="sidebar__list-group-item" href="https://yandex.ru/maps/-/CZVbeEiZ" target="_blank">г.Протвино (9 км)</a>
        <a class="sidebar__list-group-item" href="https://yandex.ru/maps/-/CZVbeY3b" target="_blank">г.Кременки (16 км)</a>
        <a class="sidebar__list-group-item" href="https://yandex.ru/maps/-/CZVbaHpe" target="_blank">г.Серпухов (19 км)</a>
    </ul>
</div>
