<div class="header__logo">
    <a href="index.html">
        <img src="assets/images/logo.png"/>
    </a>
</div>
<nav class="header__menu">
    <div class="row">
        <ul ID="mainmenu" class="header__menu-pc hidden-sm hidden-xs">
            <li ID="home" role="presentation">
                <a href="index.html">О ПОСЕЛКЕ</a>
            </li>
            <li ID="infrastructure" role="presentation">
                <a href="infrastructure.html">ИНФРАСТРУКТУРА</a>
            </li>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
            <li ID="shops" role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" ID="DropdownMenuShops" role="button" aria-haspopup="true" aria-expanded="false">
                    МАГАЗИНЫ И ПРОЧЕЕ
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="DropdownMenuShops">
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#shop">
                            Магазины
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#911">
                            Экстренные службы
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#medicine">
                            Аптеки и больницы
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#police">
                            Полиция
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#firewatch">
                            Пожарные
                        </a>
                    </li>
                </ul>
            </li>
            <li ID="garden" role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    ВЕДЕНИЕ ХОЗЯЙСТВА
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ID="garden_sub" role="presentation">
                        <a href="garden.html">
                            Общая информация
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ID="dnp" role="presentation">
                        <a href="dnp.html">
                            Особенности работы ДНП
                        </a>
                    </li>
                    <li ID="individual" role="presentation">
                        <a href="individual.html">
                            Индивидуальное ведение хозяйства
                        </a>
                    </li>
                    <li ID="dnp_building" role="presentation">
                        <a href="dnp_building.html">
                            Правила застройки садоводческих объединений
                        </a>
                    </li>
                    <li ID="individual_building" role="presentation">
                        <a href="individual_building.html">
                            Правила застройки индивидуальных участков
                        </a>
                    </li>
                </ul>
            </li>
            <li ID="forum" role="presentation" class="disabled">
                <a href="forum.php">
                    ФОРУМ
                </a>
            </li>
        </ul>
        <!-- header__menu-pc -->
        <button class="hidden-lg hidden-md col-xs-1 header__menu-mobile-btn dropdown-toggle" type="button" id="dropdownMenu0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="ion-android-menu"></span>
        </button>
        <!-- header__menu-mobile-btn -->
        <ul class="header__menu-mobile dropdown-menu animated fadeInDown" aria- labelledby="dropdownMenu1">
            <button class="header__menu-mobile-close dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="ion-ios-close-empty"></span>
            </button>
            <li ID="home" role="presentation">
                <a href="index.html">
                    О ПОСЕЛКЕ
                </a>
            </li>
            <li ID="infrastructure" role="presentation">
                <a href="infrastructure.html">
                    ИНФРАСТРУКТУРА
                </a>
            </li>
            <li ID="shops" role="presentation" class="off">
                <a class="dropdown-toggle" data-toggle="dropdown" href="shops.html" role="button" aria-haspopup="true" aria-expanded="false">
                    МАГАЗИНЫ И ПРОЧЕЕ
                    <span class="caret"></span>
                </a>
                <ul>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#shop">
                            Магазины
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#911">
                            Экстренные службы
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#medicine">
                            Аптеки и больницы
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#police">
                            Полиция
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="smoothScroll" href="shops.html#firewatch">
                            Пожарные
                        </a>
                    </li>
                </ul>
            </li>
            <li ID="garden" role="presentation" class="off">
                <a class="dropdown-toggle" data-toggle="dropdown" href="garden.html" role="button" aria-haspopup="true" aria-expanded="false">
                    ВЕДЕНИЕ ХОЗЯЙСТВА
                    <span class="caret"></span>
                </a>
                <ul>
                    <li ID="garden_sub" role="presentation">
                        <a href="garden.html">
                            Общая информация
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ID="dnp" role="presentation">
                        <a href="dnp.html">
                            Особенности работы ДНП
                        </a>
                    </li>
                    <li ID="individual" role="presentation">
                        <a href="individual.html">
                            Индивидуальное ведение хозяйства
                        </a>
                    </li>
                    <li ID="dnp_building" role="presentation">
                        <a href="dnp_building.html">
                            Правила застройки садоводческих объединений
                        </a>
                    </li>
                    <li ID="individual_building" role="presentation">
                        <a href="individual_building.html">
                            Правила застройки индивидуальных участков
                        </a>
                    </li>
                </ul>
            </li>
            <li ID="forum" role="presentation" class="disabled off">
                <a href="forum.php">
                    ФОРУМ
                </a>
            </li>
        </ul>
        <!-- header__menu-mobile -->
    </div>
    <!-- row -->
</nav>
<!-- header__menu -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter38526265 = new Ya.Metrika({
                    id: 38526265,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {}
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");

</script>
<noscript><div><img src="https://mc.yandex.ru/watch/38526265" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
