<!DOCTYPE html>
<html lang="en">
    <!-- partial:partials/_locale.html -->
    <!-- partial -->
    <head>
        <!-- partial:partials/_meta.html -->
        <!-- partial -->
        <!-- partial:partials/_assets.html -->
        <!-- partial -->
        <title>Поселок "Калугинские просторы"</title>
    </head>

    <body>
        <div class="container-background">
            <div class="container-gradient"></div>
        </div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 header sticky-menu">
                        <!-- partial:shared/_header.html -->
                        <!-- partial -->
                    </div><!-- header -->
                </div><!-- row -->
            </div><!-- container -->
        </header>
        
        <section>
            <div class="container">
                <div class="row">
                    <main class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 main-content">
                        <div class="main-content__block">
                            Основной нормативный документ - <a href="snip30-02-97.php">СНиП 30-02-97 "Планировка и застройка территорий садоводческих (дачных) объединений граждан, здания и сооружения"</a>
                            <br>
                            Садоводческие объединения с числом участков от 101 до 300 считаются "средними". В дальнейшем данные из СНиП будут приведены для "средних" объединений.
                            <br>
                            В нашем поселке 182 участка.
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ОБЯЗАТЕЛЬНЫЕ ПОСТРОЙКИ</h3>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Объект
                                            </th>
                                            <th>
                                                Удельный размер, м2 на 1 участок
                                            </th>
                                            <th>
                                                Общий размер для нашего поселка, м2
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                            Сторожка с правлением объединения
                                        </td>
                                        <td>
                                            0,7 - 0,5
                                        </td>
                                        <td>
                                            91 - 127
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Магазин смешанной торговли
                                        </td>
                                        <td>
                                            0,5 - 0,2
                                        </td>
                                        <td>
                                            36 - 91
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Здания и сооружения для хранения средств пожаротушения
                                        </td>
                                        <td>
                                            0,4
                                        </td>
                                        <td>
                                            73
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Площадки для мусоросборников
                                        </td>
                                        <td>
                                            0,1
                                        </td>
                                        <td>
                                            18
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Площадка для стоянки автомобилей при въезде на территорию садоводческого объединения
                                        </td>
                                        <td>
                                            0,9 - 0,4
                                        </td>
                                        <td>
                                            73 - 164
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="alert alert-info" role="alert">
                                Земельный участок, предоставленный садоводческому (дачному) объединению, состоит из земель общего пользования и земель индивидуальных участков.
                                <br>
                                К землям общего пользования относятся земли, занятые дорогами, улицами, проездами (в пределах красных линий), пожарными водоемами, а также площадками и участками объектов общего пользования (включая их санитарно-защитные зоны). Минимально необходимый состав зданий, сооружений, площадок общего пользования приведен в таблице 1, рекомендуемый в СП 11-106.
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ДОРОГИ</h3>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-warning">
                                        Минимальная ширина улиц в "красных линиях" - не менее 15м;
                                        <br>
                                        Минимальная ширина проездов в "красных линиях" - не менее 9м.
                                    </li>
                                    <li class="list-group-item">
                                        Красные линии - границы, отделяющие территории кварталов, микрорайонов и других элементов планировочной структуры от улиц, проездов и площадей в городских и сельских поселениях. 
                                        <br>
                                        Т.е. ширина улицы в "красных линиях" - это расстояние между границами участков, разделенных этой улицей, включая тротуары, канавы и пр.
                                    </li>
                                    <li class="list-group-item list-group-item-warning">
                                        Минимальный радиус закругления края проезжей части - 6м.
                                        <br>
                                        Ширина проезжей части улиц - не менее 7м.
                                        <br>
                                        Ширина проезжей части проездов - не менее 3,5м.
                                    </li>
                                    <li class="list-group-item">
                                        На проездах следует предусматривать разъездные площадки длиной не менее 15 м и шириной не менее 7 м, включая ширину проезжей части. Расстояние между разъездными площадками, а также между разъездными площадками и перекрестками должно быть не более 200 м.
                                    </li>
                                    <li class="list-group-item">
                                        Максимальная протяженность тупикового проезда, согласно требованиям СНиП 2.07.01 и НПБ 106, не должна превышать 150 м.
                                    </li>
                                    <li class="list-group-item">
                                        Тупиковые проезды обеспечиваются разворотными площадками размером не менее 12м х 12м. Использование разворотной площадки для стоянки автомобилей не допускается.
                                    </li>
                                    <li class="list-group-item">
                                        Отвод поверхностных стоков и дренажных вод с территории садоводческих (дачных) объединений в кюветы и канавы осуществляется в соответствии проектом планировки территории садоводческого (дачного) объединения.
                                    </li>
                                    <li class="list-group-item">
                                        Территория садоводческого (дачного) объединения должна быть соединена подъездной дорогой с автомобильной дорогой общего пользования.
                                    </li>
                                    <li class="list-group-item">
                                        На территорию садоводческого (дачного) объединения с числом садовых участков более 50 следует предусмотреть не менее двух въездов. Ширина ворот должна быть не менее 4,5 м, калитки - не менее 1 м.
                                    </li>
                                </ul>
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>СЛУЖЕБНЫЕ СТРОЕНИЯ И ПЛОЩАДКИ</h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Здания и сооружения общего пользования должны отстоять от границ садовых (дачных) участков не менее чем на 4 м.
                                    </li>
                                    <li class="list-group-item list-group-item-warning">
                                        На территории садоводческих (дачных) объединений и за ее пределами запрещается организовывать свалки отходов. Бытовые отходы, как правило, должны утилизироваться на садовых участках. Для неутилизируемых отходов (стекло, металл, полиэтилен и др.) на территории общего пользования должны быть предусмотрены площадки контейнеров для мусора.
                                    </li>
                                    <li class="list-group-item">
                                        Площадки для мусорных контейнеров размещаются на расстоянии не менее 20 и не более 100 м от границ садовых участков.
                                    </li>
                                    <li class="list-group-item">
                                        При организации на территории общего пользования склада минеральных удобрений и химикатов следует учитывать, что хранение их запрещается под открытым небом, а также вблизи открытых водоемов и водозаборных скважин.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ПОЖАРНАЯ БЕЗОПАСНОСТЬ</h3>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-warning">
                                        Для обеспечения пожаротушения на территории общего пользования садоводческого (дачного) объединения должны предусматриваться противопожарные водоемы или резервуары вместимостью не менее 25 м3, при числе участков до 300 (каждый с площадками для установки пожарной техники, с возможностью забора воды насосами и организацией подъезда не менее двух пожарных автомобилей).
                                    </li>
                                    <li class="list-group-item">
                                        Количество водоемов (резервуаров) и их расположение определяются требованиями СНиП 2.04.02.
                                    </li>
                                    <li class="list-group-item list-group-item-warning">
                                        Садоводческие (дачные) объединения, включающие до 300 садовых участков, в противопожарных целях должны иметь переносную мотопомпу.
                                    </li>
                                    <li class="list-group-item">
                                        Для хранения мотопомп обязательно строительство специального помещения.
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </main><!-- body -->

                    <aside class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 sidebar">
                        <!-- partial:shared/_sidebar.html -->
                        <!-- partial -->
                    </aside><!-- sidebar -->
                </div><!-- row -->
            </div><!-- container -->
        </section>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 footer">
                        <!-- partial:shared/_footer.html -->
                        <!-- partial -->
                    </div><!-- footer -->
                </div><!-- row -->
            </div><!-- container -->
        </footer>
        
        <?php include 'php/form.php';?>
        
        <script type="text/javascript">
            document.getElementById("dnp_building").className = "active";
            $("#dnp_building").parents().addClass("active");
        </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
        
    </body>
</html>
