<!DOCTYPE html>
<html lang="en">
    <!-- partial:partials/_locale.html -->
    <!-- partial -->
    <head>
        <!-- partial:partials/_meta.html -->
        <!-- partial -->
        <!-- partial:partials/_assets.html -->
        <!-- partial -->
        <title>Поселок "Калугинские просторы"</title>
    </head>

    <body>
        <div class="container-background">
            <div class="container-gradient"></div>
        </div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 header sticky-menu">
                        <!-- partial:shared/_header.html -->
                        <!-- partial -->
                    </div><!-- header -->
                </div><!-- row -->
            </div><!-- container -->
        </header>
        
        <section>
            <div class="container">
                <div class="row">
                    <main class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 main-content">                  
                        
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ЧЛЕНСТВО В ДНП ИЛИ ИНДИВИДУАЛЬНОЕ ХОЗЯЙСТВО?</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        В поселке создано ДНП "Калугинские просторы", в ведении которого находятся земли общего пользования, подстанция и другая инфраструктура. Жители поселка могут как вести индивидуальное хозяйство, так и вступить в ДНП.
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="dnp.php">
                                                <div class="panel-body">
                                                    Особенности<br>работы ДНП
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="individual.php">
                                                <div class="panel-body">
                                                    Индивидуальное ведение хозяйства
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ЗЕМЛЯ</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        Согласно карте почв на территории поселка преобладают дерново-подзолистые глееватые и глеевые почвы, среднесуглинистые и легкосуглинистые валунные и галечниковые почвообразующие породы
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="http://pkk5.rosreestr.ru/#x=4141226.438010694&y=7357561.495221123&z=16&app=search&opened=1" target="_blank">
                                                <div class="panel-body">
                                                    Кадастровая карта<br>(Росреестр)
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="http://www.etomesto.ru/map-pochvennaya/?x=37.198207&y=54.976727" target="_blank">
                                                <div class="panel-body">
                                                    Почвенная<br>карта
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="main-content__block" style="display: none;">
                            <div class="main-content__well">
                                <h3>ЗЕМЛЕДЕЛИЕ</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        Согласно карте почв на территории поселка преобладают дерново-подзолистые глееватые и глеевые почвы, среднесуглинистые и легкосуглинистые валунные и галечниковые почвообразующие породы
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="http://pkk5.rosreestr.ru/#x=4141226.438010694&y=7357561.495221123&z=16&app=search&opened=1" target="_blank">
                                                <div class="panel-body">
                                                    Кадастровая карта (Росреестр)
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="http://www.etomesto.ru/map-pochvennaya/?x=37.198207&y=54.976727" target="_blank">
                                                <div class="panel-body">
                                                    Почвенная<br>карта
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>СТРОИТЕЛЬСТВО</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        Согласно карте почв на территории поселка преобладают дерново-подзолистые глееватые и глеевые почвы, среднесуглинистые и легкосуглинистые валунные и галечниковые почвообразующие породы
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="dnp_building.php">
                                                <div class="panel-body">
                                                    Правила застройки садоводческих объединений
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="individual_building.php">
                                                <div class="panel-body">
                                                    Правила застройки индивидуальных участков
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </main><!-- body -->

                    <aside class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 sidebar">
                        <!-- partial:shared/_sidebar.html -->
                        <!-- partial -->
                    </aside><!-- sidebar -->
                </div><!-- row -->
            </div><!-- container -->
        </section>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 footer">
                        <!-- partial:shared/_footer.html -->
                        <!-- partial -->
                    </div><!-- footer -->
                </div><!-- row -->
            </div><!-- container -->
        </footer>
        
        <?php include 'php/form.php';?>
        
        <script type="text/javascript">
            document.getElementById("garden").className = "active";
            document.getElementById("garden_sub").className = "active";
        </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
        
    </body>
</html>
