<!DOCTYPE html>
<html lang="en">
    <!-- partial:partials/_locale.html -->
    <!-- partial -->
    <head>
        <!-- partial:partials/_meta.html -->
        <!-- partial -->
        <!-- partial:partials/_assets.html -->
        <!-- partial -->
        <title>Поселок "Калугинские просторы"</title>
    </head>   
    
    <body>
        <div class="container-background">
            <div class="container-gradient"></div>
        </div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 header sticky-menu">
                        <!-- partial:shared/_header.html -->
                        <!-- partial -->
                    </div><!-- header -->
                </div><!-- row -->
            </div><!-- container -->
        </header>
        
        <section>
            <div class="container">
                <div class="row">
                    <main class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 main-content">            
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ЭЛЕКТРИЧЕСТВО</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        У поселка собственная подстанция. Собственники участков могут заключить прямые договоры с <a href="http://www.moesk.ru/about/filials/south/#tab-fil_3_v4-link" target="_blank">МОЭСК</a>. Стандартные условия - 15кВт, 3 фазы, 550р.
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="http://www.moesk.ru/client/tex_prisoedinenie/inf/doc/Pribor_ucheta-160216.pdf" target="_blank">
                                                <div class="panel-body">
                                                    Требования<br>МОЭСК
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="panel panel-btn text-centered">
                                            <a href="https://lk.moesk.ru/users/sign_in" target="_blank">
                                                <div class="panel-body">
                                                    Подключение к<br>сетям МОЭСК
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ДОРОГИ</h3>
                                Все дороги поселка покрыты щебнем.
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>ОХРАНА</h3>
                                На въезде в поселок расположен домик охраны. Поселок полностью огорожен. Ворота главного входа автоматические. 
                            </div>
                        </div>
            
                        <div class="main-content__block">
                            <div class="main-content__well">
                                <h3>МУСОР</h3>
                                Поселок заключил договор на вывоз бытового мусора. Весь мусор можно выбрасывать в контейнер, расположенный у главного входа в поселок.
                            </div>
                        </div> 
                        
                    </main><!-- body -->

                    <aside class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 sidebar">
                        <!-- partial:shared/_sidebar.html -->
                        <!-- partial -->
                    </aside><!-- sidebar -->
                </div><!-- row -->
            </div><!-- container -->
        </section>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 footer">
                        <!-- partial:shared/_footer.html -->
                        <!-- partial -->
                    </div><!-- footer -->
                </div><!-- row -->
            </div><!-- container -->
        </footer>
        
        <?php include 'php/form.php';?>
        
        <script type="text/javascript">
            document.getElementById("infrastructure").className = "active";
        </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
        
    </body>
</html>
